
.header {
    font-family: 'Rock Salt', cursive, monospace, Helvetica, sans-serif;
    font-weight: bold;
    font-size:2.75em;
    padding: 10px;
    margin:10px;  

}

html {
    background-image: url(images/sprenkel.jpg);
    background-repeat: repeat;
    text-align: center;
    position: relative;
    font-family: monospace, Helvetica, sans-serif;
    
}

.i  {
    max-width: 600px;
    background-color: rgb(160, 53, 89);
    padding:20px;
    opacity: 0.80;
}

.a  {
    max-width: 600px;
    justify-content: right;
    background-color: darkseagreen;
    padding:20px;
    opacity: 0.80;
}

.p  {
    max-width: 600px;
    background-color: lightsalmon;
    padding:20px;
    opacity: 0.90;
    

}

.comic img, .illustration img, .wand img,  .workshop img{
    max-width: 100%
}

.c  {
    background-color: thistle;
    max-width: 600px;
    padding: 10px;
    text-align: center;
    opacity: 0.80;
}



.home, .aboutme, .projects, .contact, .extra-info, .i p,.a p, .c p, .p p {
    font-family: monospace;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}


.head {
    font-size: 40px;
    font-family: 'Rock Salt', cursive, monospace, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    margin: 20px;
}

nav {
    background-color: rgb(172, 76, 108);
    padding: 10px;
    margin-bottom:10px;  
    display:block ;
    max-width: 100%;


}

.lan {
    background-color: rgb(241, 187, 205);
    font-weight: bold;
    color: black;
    list-style: none;
    display:left;
    width: 150px;
    position: relative;
    
    z-index: fixed;

}
nav li {
    font-weight: bolder;
    background-color: rgb(172, 76, 108);
    color: black;
    list-style: none;
    display:inline-block;
    width: 50%;
    text-align: center;
    position: relative;    

}


.botton {
    text-align: center;
}

footer {
    background-color: rgb(155, 122, 190);
    margin-top: 10px;
    text-align: center;
    padding: 2px;
    position: relative;
    opacity: 0.5;
}

@media (min-width:465px) {
    .links {
        display: flex;
        justify-content:space-around;
        align-items: center;
        padding: 0px;
    }
    nav li {
        padding:5px;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        font-size: 4em;
    }
    .a {
        margin-left: 50%;
    }

    .c {
        justify-content: center;
        margin: auto;
    }

    .p {
        margin-right: 30%;
        justify-content: space-around;
        max-width: 100%;
        
    }

    html {
        background-size: 100%;
        text-align: center;
        position: relative;

     
    }
}

@media (min-width:950px) {
    .header {
        font-size: 5em;
    }
}
