
.header {
    font-family: 'Rock Salt', cursive, monospace, Helvetica, sans-serif;
    font-weight: bold;
    font-size:90px ;
    
    padding: 10px;
    margin:10px;   
}

html {
    background-image: url(images/sprenkel.jpg);
    background-size: 100%;
    text-align: center;
    position: relative;
    font-family: monospace, Helvetica, sans-serif;
}

.i  {
    margin-right: 30rem;
    background-color: rgb(160, 53, 89);
    padding:20px;
    opacity: 0.80;
}

.a  {
    margin-left: 30rem;
    background-color: darkseagreen;
    padding:20px;
    opacity: 0.80;
}

.p  {
    margin-right: 30rem;
    background-color: lightsalmon;
    padding:20px;
    opacity: 0.90;
}

.c  {
    background-color: thistle;
    margin-right: 10rem;
    margin-left:10rem;
    padding: 10px;
    text-align: center;
    opacity: 0.80;
}



.home, .aboutme, .projects, .contact, .extra-info, .i p,.a p, .c p, .p p {
    font-family: monospace;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}


.head {
    font-size: 40px;
    font-family: 'Rock Salt', cursive, monospace, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    margin: 20px;
}

nav {
    background-color: rgb(172, 76, 108);
    padding: 10px;
    margin-bottom:10px;  
    display: block;


}

.lan {
    background-color: rgb(241, 187, 205);
    font-weight: bold;
    color: black;
    list-style: none;
    display:left;
    width: 150px;
    position: relative;
    margin: 30px;
    padding: 30px;
    z-index: fixed;

}
nav li {
    font-weight: bolder;
    background-color: rgb(172, 76, 108);
    color: black;
    list-style: none;
    display:inline-block;
    width: 150px;
    text-align: center;
    position: relative;
    margin: 0px;

}

.botton {
    text-align: center;
}

footer {
    background-color: rgb(155, 122, 190);
    margin-top: 10px;
    text-align: center;
    padding: 2px;
    position: relative;
    opacity: 0.5;
}